doctype html
html(lang="en")
  head
    title Registration Page
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(style="background-color: #666; text-align: center;")
    .header
      h1 MOVIE DB
    .n
      include navbar.pug
    body
      div#login-container.login
        form(action="/users", method="POST")
          h1.login Register User
          label.login(for="username") Username:
          input(type="text" name="username" class="login")
          br
          label.login(for="password") Password:
          input(type="password" name="password" class="login")
          br
          button(type="submit" class="login") Register
      br
      if (Invalid != null)
        .error-message.login Invalid Input
      if (Exists != null)
        .error-message.login User already exists