doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
  body.login
    .header
      h1 MOVIE DB
    .n
      include navbar.pug
    div#login-container.login
      h1.login Sign In
      form(action="/login", method="POST")
        label.login(for="username") Username:
        input(type="text" name="username" class="login")
        br
        label.login(for="password") Password:
        input(type="password" name="password" class="login")
        br
        button(type="submit" class="login") Login
        a(href="/createUser" class="register-button login") Register User
        if(Incorrect != null)
          br
          .error-message.login Wrong password!
        else if(UserExist != null)
          br
          .error-message.login Username does not exist
