doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Daylight Streaming
  body
    .header
      h1 MOVIE DB
  .n
    include navbar.pug
    #recommended.movies-container
      each val in movies
        .movie
          a(href='/movies/'+val.numID)
            img(src=val.Poster, alt='Movie Poster', height='300', width='200')