.navbar
  .navbar-buttons
    a(href="/movies", class="navbar-button") Home
    if session != null && session.username != null
      .dropdown
        a(href="/users/"+ session.username, class="navbar-button")  Profile &#9660;
        .dropdown-content
          a(href="/logout", class="navbar-button") Logout
    else
      a(href="/login", class="navbar-button") Login
    
    // Categories dropdown (between Home and Community)
    .dropdown
      a(href="#", class="navbar-button") Genres &#9660;
      .dropdown-content
        // Genres dropdown
        .sub-dropdown-content.scrollable-genres
          div.genres-grid
            a(href="/movies?genre=Action", class="navbar-button") Action
            a(href="/movies?genre=Adventure", class="navbar-button") Adventure
            a(href="/movies?genre=Comedy", class="navbar-button") Comedy
            a(href="/movies?genre=Drama", class="navbar-button") Drama
            a(href="/movies?genre=Fantasy", class="navbar-button") Fantasy
            a(href="/movies?genre=Romance", class="navbar-button") Romance
            a(href="/movies?genre=Crime", class="navbar-button") Crime
            a(href="/movies?genre=Thriller", class="navbar-button") Thriller
            a(href="/movies?genre=Western", class="navbar-button") Western
            a(href="/movies?genre=Horror", class="navbar-button") Horror
            a(href="/movies?genre=History", class="navbar-button") History
            a(href="/movies?genre=Biography", class="navbar-button") Biography
            a(href="/movies?genre=Mystery", class="navbar-button") Mystery
            a(href="/movies?genre=Sci-Fi", class="navbar-button") Sci-Fi
            a(href="/movies?genre=War", class="navbar-button") War
            a(href="/movies?genre=Musical", class="navbar-button") Musical
            a(href="/movies?genre=Sport", class="navbar-button") Sport
            a(href="/movies?genre=Music", class="navbar-button") Music
            a(href="/movies?genre=Documentary", class="navbar-button") Documentary
            a(href="/movies?genre=Family", class="navbar-button") Family
            a(href="/movies?genre=Short", class="navbar-button") Short
            a(href="/movies?genre=Film-Noir", class="navbar-button") Film-Noir

    // Community dropdown
    .dropdown
      a(href="#", class="navbar-button") Community &#9660;
      .dropdown-content
        // Old Community link now called Users
        a(href="/users", class="navbar-button") Users
        // People link
        a(href="/people", class="navbar-button") People

    .search-form
      form(action='/movies', method='get')
        input(type='text', name='title', class='search-input', placeholder='Search for a Movie')
        button(type='submit', class='search-button') Search