doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title List of People
  body
    .header
      h1 MOVIE DB
    .n
      include navbar.pug 
      .people-container 
        .search-form-people
          form(action='/people', method='get')
            input(type='text', name='name', class='search-input-people', placeholder='Search for People')
            button(type='submit', class='search-button-people') Search
        if (People != null && People.length > 0)
          ul
            each val in People
              li
                a(href="/people/"+val.name, class="people-link") #{val.name}