html
    div#navBar
        a(href="/movies") Main page
        <br>
        a(href="/people") Actors/Directors/Writers
        <br>
        a(href="/users") Community
        <br>
        if session.username!=null 
          a(href="/users/"+ session.username) Profile
          <br> 
          a(href="/logout") Logout
          <br>
        else
          a(href="/login.pug") Login

    head
        style.
            body{
                background-color: orange;
                }
    if Person !=null
        title #{Person.name}
        if session.username != null
            form(action='/followPerson' method='post')
                if following == true
                    button(type='submit') unfollow
                if following == false
                    button(type='submit') follow
        p Actor Information (Photo)
        img(src=Person.poster height='300' ,width='200')
        <br>
        label Name: #{Person.name}
        br
        label Movies in:
        if (Person.movies != null)
            ul
                each val in Person.movies
                    a(href="/movies/"+val.numID) #{val.Title}
                    br
        br
        body
            //- if session.loggedin
            //-     form(action='/toggleFollow' method='post')
            //-         if User.contributor == true
            //-             button(type='submit') unContribute
            //-         else 
            //-             button(type='submit') Contribute
                    

        