doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Movie Information
  body
    .header
      h1 MOVIE DB
    .n
      include navbar.pug
    if Person != null
      .actor-container
        .actor-poster
          img(src=Person.poster height='300', width='200')
        .actor-info
          h1 #{Person.name}
          hr
          h3 Movies in:
          if (Person.movies != null)
            ul
              each val in Person.movies
                li
                  a(href="/movies/"+val.numID) #{val.Title}
          if session.username != null
            form(action='/followPerson' method='post')
              if following == true
                button(type='submit') Unfollow
              else
                button(type='submit') Follow
