html
    head
        title Users Page
    style.
        body{
            background-color:{{purple}};
        }
    div#navBar
        a(href="/movies") Main page
        <br>
        a(href="/people") Actors/Directors/Writers
        <br>
        a(href="/users") Community
        <br>
        if session.username!=null 
          a(href="/users/"+ session.username) Profile
          <br> 
          a(href="/logout") Logout
          <br>
          if(session.contributor == true)
              label YOU ARE CONTRIBUTOR
              br
        else
          a(href="/login.pug") Login
    body
        form(action='/users' method='post')
            label(for="searchUsers") Search for Users
            br
            input(type='text' name='searchUsers')
            button(type ='submit') Search
        p All Users
        ul
            each val in users
                a(href="/users/"+val.username) #{val.username}
                <br>