doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Community
  body
    .header
      h1 MOVIE DB
    .n
      include navbar.pug
      .users-container
        .search-form-users
          form(action='/users', method='get')
            input(type='text', name='name', class='search-input-users', placeholder='Search for Users')
            button(type ='submit', class='search-button-users') Search
        ul
          each val in users
            li
              a(href="/users/"+val.username, class="users-link") #{val.username}
